*{
    margin-top:40px;
}

.sponsor-card{
    background:#1b1b1b;
    border-radius:20px;
    padding:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:160px;
}

.sponsor-card img{
    max-width:100%;
    max-height:100px;
    object-fit:contain;
}

footer{
    background:black;
    padding:30px;
    text-align:center;
    color:#777;
}

@media(max-width:768px){

    section{
        padding:60px 5%;
    }

    .logo{
        width:260px;
    }

    .hero-content p{
        font-size:18px;
    }

    .price{
        font-size:45px;
    }

    .price-card,
    .pix-box,
    .form-box{
        padding:30px;
    }

    .piloto-topo{
        flex-direction:column;
        text-align:center;
    }

}